.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    135deg,
    rgba(0, 48, 73, 0.9),
    rgba(158, 62, 62, 0.9)
  );
  padding: 10px 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.navbar a {
  padding: 10px;
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block;
  font-size: 24px;
}

.navbar a::after {
  content: "";
  background: white;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  transition: 0.5s;
}
.navbar a:hover::after {
  width: 100%;
}

/*************************************** SMALLER SCREENS ***************************************/

@media (max-width: 768px) {
  .navbar {
    padding: 0;
    backgroud: red;
  }
  .navbar a {
    font-size: 19px;
    padding: 20px 10px;
    backgroun: green;
  }
}
